body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 25vh 0;
    margin-bottom: 0;
}

:root {
    color-scheme: dark;
}

*::selection {
    background-color: #ffffff;
    color: #000000;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#proTip {
    transform: translateY(-24vh);
}

#container {
    background-color: #12121277;
    padding: 2.5vh 0;
    border: 1px solid #ffffff77;
    border-radius: 20px;
    margin: auto;
    width: 30%;
    text-align: center;
    z-index: 1;
}

#profilePic {
    border-radius: 100%;
}

#name {
    font-weight: bold;
    font-size: 2em;
    text-shadow: #ffffff 0px 0px 10px;
    transform: translateY(-0.5em);
}

#origin {
    font-size: 1.5em;
    transform: translateY(-1.25em);
}

#ro {
    color: yellow;
    font-size: 1em;
}

#ro::before {
    content: "Ro";
    color: blue;
}

#ro:after {
    content: "ia";
    color: red;
}

.socials {
    height: 50px;
    margin-right: 1vw;
    margin-bottom: 2vh;
    transition: 0.3s;
}

.socials:hover {
    transform: translateY(-10px);
}

@media (max-width: 940px) {
    #container {
        background-color: #12121200;
        border-color: #ffffff00;
        width: 100%;
    }
}
