body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 25vh 0;
    margin-bottom: 0;
}

:root {
    color-scheme: dark;
}

*::selection {
    background-color: #ffffff;
    color: #000000;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#proTip {
    transform: translateY(-24vh);
}

#m {
    float: right;
    transform: translateY(-28vh);
    margin-right: 1vw;
    padding: 10px 15px;
    background-color: #12121277;
    border: 1px solid #ffffff77;
    border-radius: 5px;
    transition: 0.3s;
}

#m:hover {
    cursor: pointer;
    background-color: #12121299;
    border-color: #ffffff99;
}

#m:active {
    background-color: #121212bb;
    border-color: #ffffffbb;
}

#container {
    background-color: #12121277;
    padding: 2.5vh 0;
    border: 1px solid #ffffff77;
    border-radius: 20px;
    margin: auto;
    width: 30%;
    text-align: center;
    z-index: 1;
    transition: 0.3s;
}

#profilePic {
    border-radius: 100%;
    transition: 0.3s;
}

#name {
    font-weight: bold;
    font-size: 2em;
    text-shadow: #ffffff 0px 0px 10px;
    transform: translateY(-0.5em);
}

#origin {
    font-size: 1.5em;
    transform: translateY(-1.25em);
}

#ro {
    color: yellow;
    font-size: 1em;
}

#ro::before {
    content: "Ro";
    color: blue;
}

#ro:after {
    content: "ia";
    color: red;
}

.socials {
    height: 50px;
    margin-right: 1vw;
    margin-bottom: 2vh;
    transition: 0.3s;
}

.socials:hover {
    transform: translateY(-10px);
}

@media (max-width: 1400px) {
    #container {
        width: 50%;
    }
}

@media (max-width: 800px) {
    #container {
        width: 75%;
    }
}

@media (max-width: 525px) {
    .socials {
        height: 40px;
    }
}

@media (max-width: 400px) {
    #profilePic {
        width: 125px;
    }

    #name {
        font-size: 1.5em;
    }

    #origin {
        font-size: 1.2em;
    }

    .socials {
        height: 30px;
        transform: translateY(-0.5em);
    }
}

@media (max-width: 350px) {
    #proTip {
        text-align: center;
    }

    #m {
        float: none;
        transform: translateY(-25vh);
        display: block;
        margin-inline: auto;
    }

    #container {
        background-color: #12121200;
        border-color: #ffffff00;
        width: 100%;
    }

    #profilePic {
        width: 100px;
    }

    #name {
        font-size: 1.25em;
    }

    #origin {
        font-size: 1em;
    }
}

@media (max-width: 250px) {
    #profilePic {
        width: 75px;
    }

    #name {
        font-size: 1em;
    }

    #origin {
        font-size: 0.75em;
    }

    .socials {
        height: 19px;
    }
}
